<!-- <app-child></app-child>
<app-parent></app-parent>
<app-angular-concept></app-angular-concept>  -->
<app-nav></app-nav>
<router-outlet></router-outlet>
<!-- <app-form></app-form>
<app-home></app-home>
<app-pipes></app-pipes> -->
 <!-- <h1>Hello{{city}}</h1>
<h2>username:{{username}}</h2>

@if (isLoggedIn) {
    <p>Yes, the server is running</p>
  }
  @else {
    <p>No, the server is not running</p>cd
  }
  @for (user of users;track user.id){
  <p>
    {{user.name}}
  </p>
  <p>
    {{user.id}}
  </p>
}
<div [contentEditable]="isEditable">IMAGE</div> 
 <div [contentEditable]="content">NO IMAGE</div>  -->